.wave-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.wave {
  @apply bg-indigo;

  display: block;
  position: relative;
  height: 40px;
}

.wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
}

.wave::after {
  @apply bg-indigo;

  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  left: -25%;
  top: -240px;
}

.skew {
  position: relative;
  z-index: 1;
  height: 4rem;
  border: 0;
  display: block;
}

.skew::after {
  border: 0;
  bottom: 20px;
  content: "";
  display: block;
  height: 150%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.skew-top {
  background: #eff8ff;
  color: #fff;
}

.skew-top::after {
  background: #eff8ff;
}

.skew-btm {
  background: #fff;
  color: #eff8ff;
}

.skew-btm::after {
  background: #fff;
}

.archive-data > .article-list-item {
  @apply max-w-full w-full text-black my-0 mt-0 bg-cover;

  background-size: cover;
  background-position: center;

  .has-overlay {
    @apply pt-8 pb-8 px-2;

    background-color: rgba(0, 0, 0, 0.8);
  }

  h2 {
    @apply mt-0 pt-0 px-0;

    a {
      @apply text-white py-2;
    }
  }

  blockquote {
    @apply mt-8;

    p {
      @apply text-xl text-white;
    }
  }

  .button a {
    background-color: #525ddc;
  }
}

main.main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
