body:not(.front-page-data) > header:first-of-type {
  @apply inline-block w-full bg-indigo px-0 pt-0 pb-6 px-0 mb-0 mx-auto;

  h1 {
    @apply w-full inline-block mx-auto text-white mt-8 mb-0 px-2 pb-2 text-4xl;
  }

  .updated,
  .byline {
    @apply max-w-lg mx-auto text-white tracking-wide uppercase font-light text-white text-sm mb-8 px-2;

    a {
      @apply text-white;
    }
  }
}
