/** colors */
.green {
  background-color: color('green', 'lighten-1');
}

.indigo {
  background-color: color('indigo', 'lighten-1');
}

.pink {
  background-color: color('pink', 'darken-2');
}

/** fonts */
@mixin sans-serif() {
  font-family: $font-stack-sans;
  letter-spacing: 0.1ch;
}

body {
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  overflow-x: hidden;
}

#app {
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
}

.post-list {
  margin-top: ($spacer * 3);

  h2 {
    @extend h3;
  }

  .btn:hover {
    background-color: rgb(216, 216, 216);
  }
}

.navbar .fa-twitter {
  @include fadeIn(
    $delay: 0.4s,
  );
}

.navbar .fa-facebook {
  @include fadeIn(
    $delay: 0.2s,
  );
}

.navbar .ui-button {
  @include fadeIn(
    $delay: 0.6s,
  );
}

blockquote {
  @extend .z-depth-3;
  @extend .card;

  padding: ($spacer/4) ($spacer/2) ($spacer/2) ($spacer/2);

  p {
    @extend .card-content;

    &:not(:first-child) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  cite {
    @extend .card-content;

    display: inline-block;
    margin-top: ($spacer/2);
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1ch;

    &::before {
      content: '--';
    }
  }
}
