#splash {
  height: 100%;

  .valign-wrapper {
    height: 100%;

    .row:first-child {
      padding-bottom: 0;
      margin-bottom: 0;

      h2 {
        margin-bottom: 0;
        font-size: 4.2rem;
        font-weight: 400;
      }
    }

    .row:last-child {
      p {
        font-family: $font-stack;
      }

      p:last-child {
        padding-top: 1rem;
        font-family: $font-stack;
      }
    }
  }

  .logo {
    svg.svg {
      position: absolute;
      top: -10vw;
      right: -10vw;
      width: 60vh;
      fill: color('indigo', 'lighten-1');

      @extend %rotate;
    }

    polygon,
    path,
    rect {
      fill: color('indigo', 'lighten-1');
      opacity: 0.2;
    }
  }
}
