.app-fab--absolute {
  z-index: 1000;
}

.open-donation-dialog.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.open-member-dialog.app-fab--absolute {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}

@media screen and (min-width: 1024px) {
  .open-donation-dialog--absolute {
    bottom: 3rem;
    right: 1.5rem;
  }

  .open-member-dialog--absolute {
    bottom: 3rem;
    right: 1.5rem;
  }
}
