main.wordpress-main {
  @extend .pv5;

  figure {
    @extend .pa0;
    @extend .pb2;
    @extend .pt3;
    @extend .mh0;
    @extend .mv5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul li,
  ol li,
  table,
  iframe#can_embed_iframe,
  .can_embed.v3,
  .wp-block-columns {
    @extend .center;

    max-width: 70%;

    @include medium {
      max-width: 80%;
    }

    @include large {
      max-width: 90%;
    }
  }

  .can_embed.v3 {
    h4 {
      @extend .db;

      width: 100%;
      max-width: 70%;
      margin: auto !important;
    }

    #form_col1,
    #form_col2 {
      @extend .db;
      @extend .fn;

      width: 100% !important;
    }

    h2 {
      @extend .dn;
    }
  }

  iframe#can_embed_iframe {
    @extend .db;
  }

  img {
    @include focus-in();
  }
}
