footer.section {
  @extend .bg-black;

  clear: both;

  .block {
    @extend .center;
  }

  .right {
    width: 55%;
  }

  .left,
  .right {
    @include medium() {
      width: 100%;
    }
  }

  * {
    @extend .brand-color-light;
  }

  input {
    @extend .db;
    @extend .fl;
    @extend .black;
    @extend .mb3;
  }

  input[type=submit] {
    @extend .fl;
    @extend .mb3;
    @extend .mb0-ns;
    @extend .white;
  }

  a {
    @extend .db;

    overflow: hidden;
    word-wrap: wrap;
  }

  .social {
    @extend .db;
    @extend .fr;
    @extend .tc;
    @extend .mt4;
    @extend .pt1;

    width: 100%;

    ::after {
      clear: both;
    }

    a {
      @extend .db;
      @extend .tc;
      @extend .center;
      @extend .fl;
      @extend .pa0;
      @extend .mr2;
      @extend .pa3;
      @extend .br2;
      @extend .link;
      @extend .white-90;
      @extend .hover-dark-red;

      @include transition('all 1s ease');

      fill: $white;

      :hover {
        fill: $dark-red;
      }
    }
  }

  .social a svg {
    @extend .db;

    width: 2rem;
  }

  p {
    @extend .db;
    @extend .mt5;

    clear: both;
    width: 100%;
  }
}
