header.page-header {
  @include focus-in();

  h1 {
    @extend .brand-type-display;
    @extend .f1;
    @extend .fw7;
    @extend .brand-color-light;
    @extend .center;

    svg {
      opacity: 1;
      max-width: 100%;
    }

    span {
      @extend .db;
      @extend .brand-type-display;
      @extend .brand-color-light;
      @extend .f2;
      @extend .fw4;
      @extend .tracked;
      @extend .measure-wide;

      @include opacity(0.9);

      @include small() {
        font-size: 1.8rem;
        line-height: 1.8rem;
      }
    }
  }
}

.backsplash {
  background-size: cover;
  background-position: center;

  .backsplash-screen {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

    @extend .pt7;
    @extend .pb5;
    @extend .ph4;

    @include small() {
      padding-top: 20%;
      padding-bottom: 30%;
    }
  }
}

.page-home-data {
  .backsplash {
    .backsplash-screen {
      min-height: 80%;
    }
  }
}

.mdc-card__media-content {
  background-image: url("https://images.unsplash.com/photo-1541625039400-e7e2417e9879?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d86699edb33198bf98c5fb36f24a6de");
  background-size: cover;
  overflow: hidden;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.app-bar {
  position: absolute;
}
