# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Plugins
!web/app/plugins/wp-simple-pay-pro-3
!web/app/plugins/material-components-for-wp
!web/app/plugins/tiny-pixel-svg
!web/app/plugins/tiny-pixel-cpt

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
