# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/mu-plugins/wp-migrate-db-pro-compatibility.php
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/updraft

# WordPress
web/wp
web/.htaccess

# Plugins
!web/app/plugins/material-components-for-wp
!web/app/plugins/tiny-pixel-svg
!web/app/plugins/tpc-cpt

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json
.DS_Store