.mdc-top-app-bar__title {
  height: 26px;
  padding-bottom: 14px;
  padding-top: 10px;

  svg {
    fill: $white;
    height: 100%;

    g {
      @include mdc-top-app-bar-ink-color($mdc-theme-surface);
    }
  }
}

.mdc-top-app-bar__section--align-end {
  .mdc-button:not(:disabled) {
    @include mdc-top-app-bar-ink-color($mdc-theme-surface);
    @include opacity(0.8);
    @include transition('opacity 0.4s ease');

    @extend .no-underline;

    color: $white;

    &:hover {
      @include opacity(1);
    }
  }

  @include sm {
    display: none;
  }

  @include md {
    display: none;
  }

  @include lg {
    display: inherit;
  }
}

.mdc-drawer__header {
  padding-left: 8px;
  padding-right: 8px;
}

.mdc-list-item__graphic {
  margin-right: 12px;
  padding-bottom: 2px;
}

.mdc-drawer__title {
  line-height: 0;

  svg {
    height: 42px;
    fill: $white;

    @extend .mt3;

    g {
      fill: white;
    }
  }
}
