.brand-type-display {
  font-family: $display;
}

.brand-type-sans {
  font-family: $sans-serif;
}

.brand-type-serif {
  font-family: $serif;
}

.brand-type-code {
  font-family: $code;
}

.brand-color-light {
  color: $white;
}

html,
body {
  @extend .brand-type-sans;

  font-family: $sans-serif !important;

  > * {
    @extend .brand-type-sans;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .brand-type-display;
  @extend .lh-title;
}

p,
span,
ul li,
ol li,
blockquote,
table {
  @extend .brand-type-sans;
  @extend .lh-copy;
}

h1 {
  @extend .f1;
}

h2 {
  @extend .f2;
}

h3 {
  @extend .f3;
}

h4 {
  @extend .f4;
}

p {
  @extend .f5;
}
