footer.page-footer {
  margin-top: $spacer*2;

  h5 {
    @extend %h2;
  }

  .container:not(.footer-copyright .copyright) {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      color: rgba(245, 245, 245, 0.929);

      &:hover {
        color: white;
      }
    }
  }
}
