h1 {
  @extend .mdc-typography--headline1;
}

h2 {
  @extend .mdc-typography--headline2;
}

h3 {
  @extend .mdc-typography--headline3;
}

h4 {
  @extend .mdc-typography--headline4;
}

h5 {
  @extend .mdc-typography--headline5;
}

h6 {
  @extend .mdc-typography--headline6;
}

p {
  @extend .mdc-typography--body1;
}

ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

ul li,
ol li,
table {
  @extend .mdc-typography--body1;
}

blockquote {
  @extend .mdc-typography--headline3;
}

a,
a:visited {
  color: $mdc-theme-primary;
  text-decoration: none;
}
