@mixin focus-in {
  -webkit-animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@mixin focus-out {
  -webkit-animation: focus-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: focus-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* focus-in keyframes */
@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* focus-out keyframes */
@-webkit-keyframes focus-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }

  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@keyframes focus-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }

  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
