.eczar {
  font-family: 'eczar', Georgia, 'Times New Roman', Times, serif;
}

body {
  background: hsl(0, 0%, 7%);
}

.white svg {
  fill: #fff;

  path,
  polygon {
    fill: #fff;
  }
}

.black svg {
  fill: #000;

  path,
  polygon {
    fill: #000;
  }
}

header.header {
  position: relative;
}

header.header svg {
  max-width: 25rem;
}

canvas#drip {
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-post-nasal-drip {
  background: transparent;
}

.pixel-statement {
  z-index: 1;
  background-image: linear-gradient(to bottom, rgb(23, 110, 196) 0%, darken(rgb(30, 121, 211), 15%) 100%);
  background-attachment: fixed;
}

.tiny-statement {
  $c: rgb(34, 103, 172);
  $b: rgba(255, 255, 255, 0.2);
  $t: rgba(255, 255, 255, 0.1);
  $n: transparent;

  background-attachment: fixed;
  background-image:
    linear-gradient(
      0deg,
      $n 0%,
      $n 9px,
      $b 9px,
      $b 10px,
      $n 10px,
      $n 19px,
      $t 19px,
      $t 20px,
      $n 20px,
      $n 29px,
      $t 29px,
      $t 30px,
      $n 30px,
      $n 39px,
      $t 39px,
      $t 40px,
      $n 40px,
      $n 49px,
      $t 49px,
      $t 50px
    ),
    linear-gradient(
      -90deg,
      $n 0%,
      $n 9px,
      $b 9px,
      $b 10px,
      $n 10px,
      $n 19px,
      $t 19px,
      $t 20px,
      $n 20px,
      $n 29px,
      $t 29px,
      $t 30px,
      $n 30px,
      $n 39px,
      $t 39px,
      $t 40px,
      $n 40px,
      $n 49px,
      $t 49px,
      $t 50px
    );
  background-size: 50px 50px;
}

footer {
  background: url('../images/svg/bisecting.svg');
  background-size: 115%;
}

footer #tiny-horizontal-logo {
  width: 15rem;

  @media screen and (max-width: 500px) {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.fixed {
  #tiny-circle-logo {
    width: 3.5rem;
  }
}

.four-oh-four-logo .svg {
  width: 2em;
}

.full-bleed {
  background: url('../images/cool-tree.jpg') no-repeat bottom center fixed;
  background: black;
  background-size: cover;

  .svg {
    width: 200px;
    max-width: 100%;
  }
}

.pxl-content {
  h2,
  h3 {
    @extend .f4;
    @extend .lh-title;
    @extend .mt5-ns;
    @extend .mt5;
    @extend .sans-serif;
    @extend .fw5;
    @extend .ttu;
    @extend .tracked;
  }

  h3:first-child {
    @extend .mt0;
  }

  p {
    @extend .f6;
    @extend .lh-copy;
    @extend .mt0-ns;
    @extend .mb3;
    @extend .code;
    @extend .fw1;
  }

  ol {
    @extend .pl4;

    li {
      @extend .code;
      @extend .f6;
      @extend .lh-copy;
      @extend .pl0;
      @extend .mb1;
    }
  }
}

.post-content {
  h2 {
    @extend .f4;
    @extend .lh-title;
    @extend .mt5-ns;
    @extend .mt5;
    @extend .sans-serif;
    @extend .fw5;
    @extend .ttu;
    @extend .tracked;
  }

  p {
    @extend .f5;
    @extend .f4-ns;
    @extend .lh-copy;
    @extend .measure;
    @extend .eczar;
  }

  blockquote {
    @extend .f6;
    @extend .f5-ns;
    @extend .lh-copy;
    @extend .measure-wide;
    @extend .pv2;
    @extend .eczar;
    @extend .i;
    @extend .pl4;
    @extend .bl;
    @extend .bw1;
    @extend .b--gold;
    @extend .mv4;
    @extend .eczar;
  }
}
