$mdc-theme-primary: #000; // baseline purple, 500 tone
$mdc-theme-accent: #b52003; // baseline teal, 600 tone
$mdc-theme-background: #fff; // White
$mdc-theme-surface: #fff;
$mdc-theme-error: #b00020;

$mdc-theme-text-colors: (
  dark: (
    primary: rgba(black, 0.87),
    secondary: rgba(black, 0.54),
    hint: rgba(black, 0.38),
    disabled: rgba(black, 0.38),
    icon: rgba(black, 0.38)
  ),
  light: (
    primary: white,
    secondary: rgba(white, 0.7),
    hint: rgba(white, 0.5),
    disabled: rgba(white, 0.5),
    icon: rgba(white, 0.5)
  )
);
