// Converted Variables
$display: 'bebas neue', sans-serif;
$sans-serif: 'Helvetica Neue', BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$serif: georgia, serif;
$code: consolas, monaco, monospace;
$font-size-headline: 6rem;
$font-size-subheadline: 5rem;
$font-size-1: 3rem;
$font-size-2: 2.25rem;
$font-size-3: 1.5rem;
$font-size-4: 1.25rem;
$font-size-5: 1rem;
$font-size-6: 0.875rem;
$font-size-7: 0.75rem;
$letter-spacing-tight: -0.05em;
$letter-spacing-1: 0.1em;
$letter-spacing-2: 0.25em;
$line-height-solid: 1;
$line-height-title: 1.25;
$line-height-copy: 1.5;
$measure: 30em;
$measure-narrow: 20em;
$measure-wide: 34em;
