footer.section {
  background-color: $mdc-theme-primary;

  @extend .pt3, .pb3, .ph4;

  @include lg {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }

  .svg {
    width: 300px;
  }

  .tag {
    @extend .db, .f4, .fw3, .lh-solid, .tracked, .ttu;
  }

  .footer-copyright {
    @extend .db, .f6, .f5-l, .white, .code;
  }
}
