header {
  @include focus-in();

  h1,
  h2 {
    @extend .lh-title;

    color: $mdc-theme-surface;
  }

  h1 {
    @extend .f1;
  }

  h2 {
    @extend .f4, code;
  }

  h4 {
    font-family: $code;
  }

  svg {
    opacity: 1;
    max-width: 100%;
  }
}

.backsplash {
  background-color: $mdc-theme-primary;
  background-size: cover;
  background-position: center;
  position: relative;

  .backsplash-screen {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

    @extend .pt7, .pb5, .ph4;

    @include lg {
      padding-left: $spacing-extra-large;
      padding-right: $spacing-extra-large;
    }

    .logo-overlay {
      position: absolute;
      top: 48px;
      right: 48px;
      width: 120px;
      -webkit-animation: rotate 45s linear infinite;
      animation: rotate 45s linear infinite;
    }
  }
}

.project-header {
  background: $mdc-theme-primary;
  width: 100%;
  max-height: 200px;
  overflow: hidden;

  .particles {
    display: block;
    height: 200px;
  }
}
