#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 20%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.8s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -6px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

.fp-slidesNav {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.8s ease-in-out;
}

.fp-slidesNav.fp-bottom {
  bottom: 13vh;
  position: absolute;
  left: 48.5% !important;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.fp-slidesNav ul li a span,
#fp-nav ul li a span {
  background: white;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.fp-controlArrow {
  opacity: 0.2;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 19.25px 17px 19.25px 0;
  border-color: transparent #fff transparent transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.4;
    border-color: transparent $mdc-theme-primary transparent transparent;
    transition: all 0.2s ease-in-out;
  }
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 19.25px 0 19.25px 17px;
  border-color: transparent transparent transparent #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.4;
    border-color: transparent transparent transparent $mdc-theme-primary;
    transition: all 0.2s ease-in-out;
  }
}

#fullpage {
  width: 100vw;

  .section-splash {
    padding-bottom: 10vh;
    color: $white;

    .horizontal-logo {
      @include md {
        width: 60%;
      }

      @include lg {
        width: 50%;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $mdc-theme-surface;
      font-family: $code;
    }

    .mdc-button,
    .mdc-button--raised {
      --mdc-theme-primary: $white;
    }
  }

  .section-quote {
    *,
    h1 {
      --mdc-theme-primary: $white;

      color: $mdc-theme-surface;
    }
  }

  .section-ready {
    background-color: $green;

    .mdc-typography--headline5 {
      @extend .tracked;
    }
  }

  #tiny-circle-logo {
    display: block;
    position: absolute;
    bottom: calc(5% + 64px);
    right: calc(5%);
    height: calc(20% - 64px);
  }

  #tiny-circle-logo path {
    fill: white;
    fill-opacity: 1;
  }

  #tiny-circle-logo polygon {
    fill: white;
    fill-opacity: 1;
  }
}
